@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    padding: calc(v.$separacion / 4);
    width: 100%;
    display: block;
    font-weight: v.$regular;

    &.alerta-error {
        color: v.$rojo;
    }
    &.error {
        color: v.$rojo;
    }
    &.exito {
        color: v.$verde;
    }
    &.alerta-exito {
        color: v.$verde;
    }
}


