@use '../base/variables' as v;
@use '../base/mixins' as m;
@use "sass:color";

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen{
        height: 20rem;
        background-image: url('../img/1.jpg');
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow-x: hidden;
        }
        
        & {
            scrollbar-width: none;
        }
    }
}

.barra{

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: -2rem;
    p{
        margin: 0 0 0 1rem;
    }
    a{
        color: v.$rojo;
        text-decoration: none;
    }
}

.barra-servicios {
    // margin-bottom: v.$separacion;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    .barra_option {
        background-color: v.$azul;
        padding: 1rem 2rem;
        color: v.$blanco;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 700; 
        display: inline-block;
        border: none;
        transition-property: background-color;
        transition-duration: .3s;
        text-align: center;
        display: block;
        width: 100%;
        margin: 4rem 0;

        @media (min-width: 768px) {
        }

        &:hover {
            background-color: color.adjust(v.$azul, $lightness: -10%);
            cursor: pointer;
        }
    }
}
